<!DOCTYPE html>
<html>
<head>
  <title>Wongsaton Careers</title>
  {% include 'bootstrap.html'%}
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
  <h1 class="text-center mt-2 mb-1">Careers</h1>
  {% include 'banner.html' %}
  <h2 class="text-center mt-3">About me</h2>
<div class="row" style="margin-bottom:14px">
  <div class="col-md-6">
    <p class="lead">
      Meticulous Automation Engineer skilled with developing process control system and improving existing process. Strong experience automating the creation of test environments. Driven leader with advanced-level knowledge in batch control process and data acquisition systems. Proficient tester, designer and debugger with an in-depth understanding of building and running automated systems for manufacturing. Well-versed in the full project lifecycle, technical support needs and project coordination functions. Excellent communication, organizational and interpersonal skills. Hardworking and passionate job seeker with strong organizational skills eager to secure Automation, Control and Project engineer position. Ready to help team achieve company goals.
    </p>
  </div>
  <div class="d-none d-md-block col-md-6">
    <img class="img-fluid" src="static/controlroom.jpg" style="height:320px; border-radius:5px">
  </div>
</div>

  <h2 class="text-center mt-2">Job Opening</h2>
  <div>
    <!-- {{jobs}} -->
    {% for job in jobs %}
    {% include 'jobitem.html' %}
    {% endfor %}
  </div>
  <div style="text-align:center">
    <a href="mailto:wongsatonkampusan@gmail.com?subject=Question%20about%20job%20openings&body=Hi%20Wongsaton%2C%0D%0A%0D%0AMy%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E%0D%0A%0D%0APlease%20let%20me%20know%20if%20you%20would%20like%20to%20discuss%20further!" class="btn btn-primary btn-lg">Contact Us</a>
  </div>
  </div>

  {% include 'footer.html' %}
</body>
</html>